
.app-rtl {
	direction: rtl;
}
.app-ltr {
	direction: ltr;
}
.app-pointer {
	cursor: pointer;
}
::-webkit-scrollbar{width: 5px; height: 6px;cursor: pointer;}
::-webkit-scrollbar-track {border-radius: 5px;background: #fff;}
::-webkit-scrollbar-thumb {border-radius: 5px;background: #dee1f1;}
.application-animation{
	animation: 0.7s applicationAnimation;
}
@keyframes applicationAnimation {
	0%{opacity: 0;}
	100%{opacity: 1;}
}